*{
    margin:0;
    padding:0;
    font-family: 'Baloo Bhai 2', cursive;
}
/* navigation bar */
#navbar{
    display:flex;
    align-items: center;
}
/* Logo and image */
#logo{
      margin: 24px 40px;
}
#logo img{
    margin: 6px 4px;
    height:56px;
}

/* list styling */
#navbar{
    position: relative;
}
#navbar ul{
    display: flex;
}
#navbar::before{
    content:"";
    background-color: black;
    position:absolute;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity:0.4;
    
}
#navbar ul li{
    color: white;
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color:black;
    display:block;
    padding: 3px 22px;
    border-radius:20px;
    text-decoration: none;
    font-weight: bold;
}
#navbar ul li a:hover{
    color:white;
    background-color:black;
}
/* home section */
#home{
    display:flex;
    flex-direction: column;
    padding:3px 200px;
    height:400px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content:"";
    /* background:url(./images/pexels-ella-olsson-1640773.jpg) no-repeat center center/cover; */
    position:absolute;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity:0.70;

}
.head{
    font-size: 2.8rem;
    padding 12px;
}
#box1{
    display:flex;
    background-color:white;
    border:2px solid black;
    border-radius: 64px;
    height:50px;
    width: 50px;
    position: fixed;
    right:5px;
    bottom:32px;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}
#btn{
    border-radius: 32px;
    padding:16px 20px;
    background-color:white;
    font-size: 1.2rem;
    font-weight:bolder;
}
#btn:hover{
    color:white;
    background-color: black;
}
.food {
  color:black;
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  border-radius:$br;
  box-shadow:0 4px 10px 4px rgba($form-bg,.3);
}
#home ul li a:hover{
    color:white;
    background-color:black;
}
.cart{
  position: relative;
  list-style:none;
  padding:0;
  margin:0 0 40px 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.cart > div:last-child {
  display:none;
}
.tab1 a{
color:black;
text-decoration:none;

}
.tab2 a{
color:black;
text-decoration:none;

}
#home ul li a{
    color:black;
    display:block;
    padding: 3px 22px;
    border-radius:20px;
    text-decoration: none;
    font-weight: bold;
}
#home ul{
    display: flex;
}
#home {
  padding-top: 80px;
  padding-bottom: 80px;
}
#home .pizza {
  padding-top: 22px;
}
#home img {
  width: 60%;
  padding-bottom: 18px;
}
#home .npizza {
  padding-top: 22px;
}
body{
    background: url(./images/pexels-ella-olsson-1640773.jpg)  no-repeat center center/cover; 
    z-index: -1;
    opacity:220;
    
}